body {
  background: url(img/excitebike.jpg);
}

div.container {
  position: relative;
}

table.racer_table {
  position: absolute;
  top: 62%;

}

table.racer_table td {
  height: 50px;
  width: 50px;
  background: none;
  display:inline-block;
}


#player1_strip td.active {
  background: url(img/bike_red.png) no-repeat;
  padding: 5px 0;
}

#player2_strip td.active {
  background: url(img/bike_blue.png) no-repeat;
  padding: 5px 0;
}

#player3_strip td.active {
  background: url(img/bike_green.png) no-repeat;
  padding: 5px 0;
}

#player4_strip td.active {
  background: url(img/bike_red.png) no-repeat;
  padding: 5px 0;
}

